*{
    /* background-color: rgb(155, 194, 84); */
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    background-color:rgb(81, 167, 167);
    box-shadow:0 10px 10px -7px rgba(0,0,0,0.4);;

}
.header{
    font-family:sans-serif;
    text-align: center;
    padding-right: 10px;
    padding-top: 19px;
}


.options{
    margin:20px 0 0 30px;
    text-align: center;
    
}
img{
    height: 100px;
    width: 100px;
    cursor: pointer;
    margin-top:10px;
}
.answers{

    display: inline-block;
    margin-bottom: 29px;
    margin-left: 10px;
}

.footer{
    text-align: center;
    line-height: 100px;
}
.result{
    
    background-color:rgb(52, 122, 93);
}


